scrapy
cryptography==0.5.4
ipython
scipy
scikit-learn
pandas
git+git://github.com/vishnubob/python-midi.git@HEAD#egg=midi
scikits.audiolab
twisted>=24.7.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability